html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  margin: 0;
}

.box {
  width: 120px;
  height: 120px;
  background-color: crimson;
  position: absolute;
  transition: top 0.20s ease, left 0.20s ease, width 0.20s ease,
    height 0.20s ease;
}

.box-handle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: cornflowerblue;
}

.box-handle--center {
  width: auto;
  height: auto;
  top: calc(0% + 2rem);
  right: calc(0% + 2rem);
  bottom: calc(0% + 2rem);
  left: calc(0% + 2rem);
  border-radius: 50%;
  cursor: move;
}

.box-handle--nw {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: nw-resize;
}

.box-handle--n {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: ns-resize;
}

.box-handle--ne {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: ne-resize;
}

.box-handle--e {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  cursor: e-resize;
}

.box-handle--se {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: se-resize;
}

.box-handle--s {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: ns-resize;
}

.box-handle--sw {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: sw-resize;
}

.box-handle--w {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: e-resize;
}